@page
@model LastTemple.Pages.Create.CreatureModel
@{
}

<input id="toggleValue" type="hidden" value="@Model.LastToggle"/>

<p class="text-center font-weight-bold mb-2">Zarządzaj istotami</p>

<div id="details" class="row">
    <div id="creatureImg" class="col-3 pr-2 pl-2 pt-5">
        <img src="~/img/ghoul.png" class="img-thumbnail-dark" />
    </div>

    <div class="col-9">
        <div id="creatureTable" class="tableFixHead text-center">

            <button class="btn btn-outline-light mb-2" onclick="ToggleColumn(3)">Stwórz istotę</button>

            <table class="table text-light text-center">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nazwa</th>
                        <th>Typ</th>
                        <th>Poziom</th>
                        <th>Doś.</th>
                        <th>Zapasy</th>
                        <th>Szczegóły</th>
                        <th>Uzbrojenie</th>
                        <th>Edytuj</th>
                        <th>Usuń</th>
                    </tr>
                </thead>

                <tbody>                   
                    @foreach (var item in Model.Creatures)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>@Enumerators.EnumConverter.Result(item.Type)</td>
                            <td>@item.Level</td>
                            <td>@item.Experience</td>
                            <td>@item.Supplies</td>
                            <td>
                                <form method="get">
                                    <input type="hidden" name="handler" value="Details" />
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <input type="hidden" name="toggle" value = 1 />
                                    <button class="btn btn-outline-warning">Szczegóły</button>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <input type="hidden" name="handler" value="Details" />
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <input type="hidden" name="toggle" value = 2 />
                                    <button class="btn btn-outline-warning">Uzbrojenie</button>
                                </form>
                            </td>
                            <td>
                                <form>
                                    <input type="hidden" name="handler" value="Details" />
                                    <input type="hidden" name="id" value="@item.Id" />
                                    <input type="hidden" name="toggle" value = 4 />
                                    <button class="btn btn-outline-warning">Edytuj</button>
                                </form>
                            </td>
                            <td><button class="btn btn-outline-warning">Usuń</button></td>
                        </tr>
                    }                   
                </tbody>
            </table>
        </div>

        <div id="statistics" class="pt-5 text-center" style="display:none">
            <p>Szczegóły!</p>
            <button class="btn btn-outline-light" onclick="ToggleColumn(0)">Lista</button>
        </div>

        <div id="inventory" class="pt-5 text-center" style="display:none">

            <button class="btn btn-outline-light" onclick="ToggleColumn(0)">Lista</button>

            <div class="row">

                <div id="weaponDiv" class="col-6 text-center">
                    <p class="font-weight-bold">Broń</p>
                    <div class="form-group">
                        <label>obrażenia | obr. magiczne | koszt akcji | szansa trafienia</label>
                        <select id="weapon" class="form-control bg-secondary text-light" asp-for="Creature.Weapon">
                            @foreach (var item in Model.Weapons)
                            {
                                <option value="@item">@item.Name - @item.BaseDamage | @item.MagicDamage | @item.ActionCost PA | @item.HitChance%</option>
                            }
                        </select>
                        <button class="btn btn-outline-warning m-2">Wybierz</button>
                    </div>
                </div>

                <div id="armorDiv" class="col-6 text-center">
                    <p class="font-weight-bold">Pancerz</p>
                    <div class="form-group">
                        <label>odporność fizyczna | odporność magiczna</label>
                        <select id="armor" class="form-control bg-secondary text-light" asp-for="Creature.Armor">
                            @foreach (var item in Model.Armors)
                            {
                                <option value="@item">@item.Name - @item.DamageResistance | @item.MagicResistance</option>
                            }
                        </select>
                        <button class="btn btn-outline-warning m-2">Wybierz</button>
                    </div>
                </div>

                <div id="itemsDiv" class="col-6 text-center">
                    <p class="font-weight-bold">Przedmioty</p>
                    <table class="table tableFixHead text-light text-center">
                        <thead>
                            <tr>
                                <th>Nazwa</th>
                                <th>Typ</th>
                                <th>Moc</th>
                                <th>PA</th>
                                <th>U</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Creature.Items != null)
                            {
                                @foreach (var item in Model.Creature.Items)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@Enumerators.EnumConverter.Result(item.ItemType)</td>
                                        <td>@item.Strength</td>
                                        <td>@item.ActionCost</td>
                                        <td><button class="btn btn-outline-warning">Usuń</button></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="form-group text-center">
                        <label>typ | moc | koszt akcji</label>
                        <select id="item" class="form-control bg-secondary text-light">
                            @foreach (var item in Model.Items)
                            {
                                <option value="@item">@item.Name - @Enumerators.EnumConverter.Result(item.ItemType) | @item.Strength | @item.ActionCost PA </option>
                            }
                        </select>
                        <button class="btn btn-outline-warning m-2">Dodaj</button>
                    </div>
                </div>

                <div id="spellsDiv" class="col-6 text-center">
                    <p class="font-weight-bold">Zaklęcia</p>
                    <table class="table tableFixHead text-light text-center">
                        <thead>
                            <tr>
                                <th>Nazwa</th>
                                <th>Typ</th>
                                <th>Siła</th>
                                <th>PA</th>
                                <th>U</th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (Model.Creature.MagicBook != null)
                            {
                                @foreach (var item in Model.Creature.MagicBook)
                                {
                                    <tr>
                                        <td>@item.Name</td>
                                        <td>@Enumerators.EnumConverter.Result(item.Type)</td>
                                        <td>@item.Strength</td>
                                        <td>@item.ActionCost</td>
                                        <td><button class="btn btn-outline-warning">Usuń</button></td>
                                    </tr>
                                }
                            }

                            else
                            {
                                <tr>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="form-group">
                        <label>typ | moc | koszt akcji</label>
                        <select id="spell" class="form-control bg-secondary text-light">
                            @foreach (var item in Model.Spells)
                            {
                                <option value="@item">@item.Name - @Enumerators.EnumConverter.Result(item.Type) | @item.Strength | @item.ActionCost PA</option>
                            }
                        </select>
                        <button class="btn btn-outline-warning m-2">Dodaj</button>
                    </div>

                </div>
            </div>
        </div>
    </div>



</div>

<form id="creatureForm" class="text-center" method="post" style="display:none">

    <button class="btn btn-outline-light mt-2" onclick="ToggleColumn(0)">Lista</button>

    <div class="row mt-2 text-center">

        <input type="hidden" asp-for="Creature.Id" id="id" />

        <div class="col-6">
            <div class="form-group">
                <label>Nazwa</label>
                <input id="name" type="text" class="form-control bg-secondary text-light" minlength="5" maxlength="20" required="required" asp-for="Creature.Name" />
                <small>Długość od 5 do 20 znaków</small>
            </div>

            <div class="form-group">
                <label>Typ</label>
                <select id="genere" class="form-control bg-secondary text-light" asp-for="Creature.Type" asp-items="Html.GetEnumSelectList<Enumerators.CreatureTypeEnum>()"></select>
            </div>

            <div class="form-group">
                <label>Pozim</label>
                <input id="level" type="number" class="form-control bg-secondary text-light" step="1" value="0" max="10" asp-for="Creature.Level" onkeydown="return false" />
                <small>Od 0 do 10</small>
            </div>

            <div class="form-group">
                <label>Doświadczenie</label>
                <input id="experience" type="range" class="mySlider" value="0" min="0" max="100" step="10" asp-for="Creature.Experience" />
                <small>0</small><br />
                <small>Ile ma bohater/ile można zdobyć za pokonane przeciwnika</small>
            </div>

            <div class="form-group">
                <label>Zapasy</label>
                <input id="supplies" type="range" class="mySlider" value="0" min="0" max="100" step="10" asp-for="Creature.Supplies" />
                <small>0</small><br />
                <small>Ile ma bohater/ile można zdobyć za pokonane przeciwnika</small>
            </div>

            <div class="form-group">
                <label>Siła</label>
                <input type="range" id="strength" class="mySlider" value="2" min="1" max="20" step="1" asp-for="Creature.Strength" />
                <small>2</small><br />
                <small>Determinuje zadawane obrażenia w zwarciu, może być zwiększana przy awansie</small>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label>Wytrzymałość</label>
                <input type="range" id="endurance" class="mySlider" value="2" min="1" max="20" step="1" asp-for="Creature.Endurance" />
                <small>2</small><br />
                <small>Determinuje ilość puntów życia i wytrzymałość na obrażenia, może być zwiększana przy awansie</small>
            </div>

            <div class="form-group">
                <label>Siła woli</label>
                <input type="range" id="willpower" class="mySlider" value="2" min="1" max="20" step="1" asp-for="Creature.Willpower" />
                <small>2</small><br />
                <small>Determinuje ilość puntów many i wytrzymałość na obrażenia magiczne, może być zwiększana przy awansie</small>
            </div>

            <div class="form-group">
                <label>Szybkość</label>
                <input type="range" id="speed" class="mySlider" value="2" min="1" max="15" step="1" asp-for="Creature.Speed" />
                <small>2</small><br />
                <small>Determinuje ilość punków akcji i inicjatywy</small>
            </div>

            <div class="form-group">
                <label>Zręczność</label>
                <input type="range" id="agility" class="mySlider" value="2" min="1" max="15" step="1" asp-for="Creature.Agility" />
                <small>2</small><br />
                <small>Determinuje szansę na unik, trafienie oraz punkty inicjatywy</small>
            </div>
        </div>

        <div class="col-12 text-center">
            <button id="createBtn" type="submit" asp-page-handler="Create" class="btn btn-outline-success m-2">Zapisz</button>
            <button id="editBtn" type="submit" asp-page-handler="Update" class="btn btn-outline-success m-2">Edytuj</button>
            <button id="resetBtn" type="reset" class="btn btn-outline-warning m-2">Resetuj</button>
            <button type="button" class="btn btn-outline-danger m-2" onclick="ToggleColumn(0)">Anuluj</button>
        </div>
    </div>






</form>

<script type="text/javascript">

    var toggleValue = document.getElementById("toggleValue");

    loadSettings();

    function loadSettings() {
        if (toggleValue.value > 0) {
            ToggleColumn(toggleValue.value);
        }     
        
    }

    function ToggleColumn(type)
    {
        var creatureImg = document.getElementById("creatureImg");
        var creatureTable = document.getElementById("creatureTable");
        var statistics = document.getElementById("statistics");
        var inventory = document.getElementById("inventory");
        var creatureForm = document.getElementById("creatureForm");
        
        var resetBtn = document.getElementById("resetBtn");
        var createBtn = document.getElementById("createBtn");
        var editBtn = document.getElementById("editBtn");

        if (type == 0) {
            creatureImg.style.display = "block";
           
            creatureTable.style.display = "block";
            inventory.style.display = "none";
            statistics.style.display = "none";            
            creatureForm.style.display = "none";           
        }

        else {
            creatureTable.style.display = "none";

            if (type == 1) {
                statistics.style.display = "block";    
            }

            else if (type == 2){               
                inventory.style.display = "block";                
            }

            else {
                creatureImg.style.display = "none";
                creatureForm.style.display = "block";
                                
                    if (type == 3) {
                        resetBtn.style.display = "inline-block";
                        createBtn.style.display = "inline-block";
                        editBtn.style.display = "none";
                    }

                    else if (type == 4) {
                        resetBtn.style.display = "none";
                        createBtn.style.display = "none";
                        editBtn.style.display = "inline-block";
                    }
                 }

        }
    } // ToggleColumn()



</script>