@page
@model LastTemple.Pages.Manage.DialoguesModel
@{
}

<form method="post">
    <input type="hidden" asp-for="SubDialogueId"/>
    <div class="row">
        <div class="col-3 text-center">
        
            <div class="m-3">
                <span data-tooltip="Zmniejsz (wyżej)"><button class="btn btn-warning font-weight-bold" style="font-size: large" asp-page-handler="DecreaseDialogueIndex">🠕</button></span>
                <span class="m-2"><b>Nr dialogu</b></span>
                <span data-tooltip="Zwiększ (niżej)"><button class="btn btn-warning font-weight-bold" style="font-size: large" asp-page-handler="IncreaseDialogueIndex">🠗</button></span>
            </div>
        
            <select class="form-control bg-secondary text-light m-2" size="@Model.Dialogues.Count" asp-for="DialogueId">
                @foreach (var item in Model.Dialogues)
                {
                    <option value="@item.Id" onclick="setSelectedDialogueName(this)"> (#@item.Id) @item.Description</option>
                }
            </select>
        
            <input id="dialogueName" class="form-control bg-secondary text-light m-2" type="text" min="3" data-default="Tytuł dialogu" name="DialogueName" value="Tytuł dialogu" onclick="selectText(this)" onfocusout="deselectPlaceholder(this)" asp-for="DialogueName" />
            <button class="btn btn-success m-2" type="submit" asp-page-handler="CreateDialogue">Nowy dialog</button>
            <button class="btn btn-outline-success m-2" type="submit" asp-page-handler="ChooseDialogue">Wybierz dialog</button>
            <button class="btn btn-outline-warning m-2" type="submit" asp-page-handler="EditName">Edytuj tytuł</button>
            <button class="btn btn-outline-danger m-2" type="submit" asp-page-handler="DeleteDialogue">Usuń dialog</button>    
        </div>
        
        <div class="col-5 text-center">
            
                <div class="m-3">
                    <button class="btn btn-warning font-weight-bold" style="font-size: larger" asp-page-handler="PreviousSubDialogue">    🠔   </button>
                    <span id="subDialogueContentIndex" class="m-2">
                        @if (Model.DialogueId >= 0)
                        {
                            @if (Model.Dialogues[Model.DialogueId].SubDialogues.Count > 0)
                            {
                                <text><b>@Model.SubDialogueId/@Converters.CountToMaxIndex.Subtract(Model.Dialogues[Model.DialogueId].SubDialogues.Count)</b></text>
                            }
        
                            else
                            {
                                <text><b>0/0</b></text>
                            }
                        }
                    </span>
                    <button class="btn btn-warning font-weight-bold" style="font-size: larger" asp-page-handler="NextSubDialogue">    🠖   </button>
                </div>
        
                @if (Model.DialogueId >= 0)
                {
                    @if (Model.Dialogues[Model.DialogueId].SubDialogues.Count > 0)
                    {
                        @for (int i = 0; i < Model.Dialogues[Model.DialogueId].SubDialogues[Model.SubDialogueId].Content.Count(); i++)
                        {
                            var item = Model.Dialogues[Model.DialogueId].SubDialogues[Model.SubDialogueId].Content[i];
                            <div class="row">
                                <div class="col-11 mb-2"><textarea class="form-control bg-secondary text-light" oninput="resizeTextarea(this)">@item</textarea></div>
                                <div class="col-1 pl-0 d-flex align-items-center"><button class="btn btn-danger" data-tooltip="Usuń akapit" asp-page-handler="DeleteParagraph" asp-route-paragraphIndex="@i">-</button></div>
                            </div>
                        }
                    }
                }
        
        <div class="text-center">

            @if (Model.DialogueId >= 0)
            {
                @if (Model.Dialogues[Model.DialogueId].SubDialogues.Count > 0)
                {
                    <button class="btn btn-success mr-5" data-tooltip="Zapisz zmiany" asp-page-handler="SaveParagraphs">Zapisz</button>
                    <button class="btn btn-success mr-5" data-tooltip="Nowy akapit" asp-page-handler="AddParagraph">+</button>
                    <button class="btn btn-danger mr-5" data-tooltip="Usuń subdialog" asp-page-handler="DeleteSubDialogue">Usuń</button>
                }

                else
                {
                    <button class="btn btn-success mr-5" data-tooltip="Nowy akapit" asp-page-handler="AddParagraph">+</button>
                }
            }
        </div>               
        </div>
        
        <div class="col-4">
            <div class="mb-4 mt-4 text-center">
                <span id="subDialogueContentIndex" class="m-2"><b>Opcje</b></span>
            </div>
        
            @if (Model.DialogueId >= 0 && Model.SubDialogueId >= 0)
            {
                @for (int i=0; i < Model.Dialogues[Model.DialogueId].SubDialogues[Model.SubDialogueId].Options.Count(); i++)
                {
                    var item = Model.Dialogues[Model.DialogueId].SubDialogues[Model.SubDialogueId].Options[i];
                
                    <div class="row mb-1">
                        <div class="col-11 mb-2"><textarea class="form-control bg-secondary text-light" oninput="resizeTextarea(this)">@item.Content</textarea></div>
        
                        <div class="col-1 align-self-center">
                            <div class="row mb-1"  data-tooltip="Nr subdialogu">
                                <input type="text" class="form-control bg-secondary text-light text-center p-1" asp-for="@item.OptionDestinationId" value="@item.OptionDestinationId"/>
                            </div>
        
                            <div class="row">
                                <button class="btn btn-danger" data-tooltip="Usuń opcję" asp-page-handler="DeleteOption" asp-route-optionIndex="@i">-</button>
                            </div>
                        </div>
                    </div>
                }
            }        
        
            <div class="text-center">
                <button class="btn btn-success mr-5" data-tooltip="Nowa opcja" asp-page-handler="AddOption">+</button>                
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">


    resizeTextareas();

    function deselectPlaceholder(input) {
        

        if (input.value == "") {
            let x = input.dataset.default;
            input.value = x;
        }
    } // deselectPlaceholder()

    
    function resizeTextareas() {
        let list = document.getElementsByTagName("textarea");        

        for (i = 0; i < list.length; i++) {

            list[i].rows = 1;

            if (list[i].value != "") {
                resizeTextarea(list[i]);      
            }            
        } // for
    } // resizeTextareas()

    function resizeTextarea(element) {        
        element.style.height = 'auto';
        element.style.height = element.scrollHeight + 2 + 'px';
    } //resizeTextarea()

    function setSelectedDialogueName(element) {
        let text = element.text;
        let bracketEnd = text.indexOf(")");
        text = text.slice((bracketEnd + 1), (text.length + 1));
        document.getElementById("dialogueName").value = text;
    } // setSelectedDialogueName()

    function selectText(element) {
        if (element.value == "Tytuł dialogu") {
            element.value = "";
        }

        else {
            element.select();
        }
    } // selectText()


</script>