@page
@model LastTemple.Pages.Create.ItemModel
@{
}

<p class="text-center font-weight-bold m-2">Zarządzaj przedmiotami</p>

<div class="row">
    <div class="col-7 pl-5">
        <div id="itemTable" class="text-center tableFixHead">

            <button class="btn btn-outline-light mb-2" onclick="ToggleColumn(1)">Utwórz przedmiot</button>

            <table class="table text-light text-center">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nazwa</th>
                        <th>Rodzaj</th>
                        <th>Siła</th>
                        <th>PA</th>
                        <th>E</th>
                        <th>U</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td class="font-weight-bold">@item.Id</td>
                            <td>@item.Name</td>
                            <td>@Enumerators.EnumConverter.Result(item.ItemType)</td>
                            <td>@item.Strength</td>
                            <td>@item.ActionCost</td>
                            <td style="display:none">@item.ItemType</td>

                            <td><button class="btn btn-outline-warning" name="edit" type="button" onclick="ToggleColumn(2)">Edytuj</button></td>
                            <td><form method="post"><button class="btn btn-outline-warning" type="submit" asp-page-handler="Delete" asp-route-id="@item.Id">Usuń</button></form></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div id="itemForm" style="display:none" class="pr-5 pl-5">
            <form id="manipulateItem" method="post" onreset="resetSliders()">

                <input type="hidden" id="id" asp-for="Item.Id" />

                <div class="form-group">
                    <label>Nazwa</label>
                    <input type="text" id="name" class="form-control bg-secondary text-light" minlength="3" maxlength="20" required="required" asp-for="Item.Name" />
                    <small>Długość od 3 do 20 znaków</small>
                </div>

                <div class="form-group">
                    <label>Rodzaj przedmiotu</label>
                    <select id="genere" class="form-control bg-secondary  text-light" asp-for="Item.ItemType" asp-items="@Html.GetEnumSelectList<Enumerators.ItemTypeEnum>()"></select>
                </div>

                <div class="form-group">
                    <label>Moc</label>
                    <input id="strength" class="mySlider" type="range" value="5" min="1" max="50" step="1" asp-for="Item.Strength" />
                    <output>5</output>
                </div>

                <div class="form-group">
                    <label>Koszt Punktów Akcji</label>
                    <input id="APs" class="mySlider" type="range" value="3" min="0" max="10" step="1" asp-for="Item.ActionCost" />
                    <output>3</output>
                </div>

                <div class="text-center">
                    <button id="saveBtn" type="submit" asp-page-handler="Create" class="btn btn-outline-success m-2">Zapisz</button>
                    <button id="editBtn" type="submit" asp-page-handler="Update" class="btn btn-outline-success m-2">Edytuj</button>
                    <button id="resetBtn" type="reset" class="btn btn-outline-warning m2">Resetuj</button>
                    <button class="btn btn-outline-danger m-2" type="button" onclick="ToggleColumn(0)">Anuluj</button>
                </div>

            </form>
        </div>
    </div>

    <div class="col-5 pr-2 pl-2 pt-5">        
         <div class="fixedContainer">
             <img src="~/img/Potion.png" class="img-thumbnail-dark pl-4 pr-4" />
         </div>        
    </div>
</div>

<script type="text/javascript">

    var form = document.getElementById("manipulateItem");

    loadSettings();

    document.getElementById("strength").oninput = function () { setSlider("strength"); }
    document.getElementById("APs").oninput = function () { setSlider("APs"); }

    function loadSettings() {
        setSlider("strength");
        setSlider("APs");
    }

    function resetSliders() {
        window.requestAnimationFrame(function (timestamp) {
            loadSettings();
        })
    }

    function setSlider(type) {
        var slider = document.getElementById(type)
        var value = (slider.value - slider.min) / (slider.max - slider.min) * 100

        if (slider == null) {
            alert("slider is null");
        }

        if (type == "strength") {
            slider.style.background = 'linear-gradient(to right, #FF6B6B 0%, #FF0000 ' + value + '%, #000 ' + value + '%, black 100%)'
        }

        else {
            slider.style.background = 'linear-gradient(to right, #3FEE82 0%, #0B6126 ' + value + '%, #000 ' + value + '%, black 100%)'
        }

        slider.nextElementSibling.value = slider.value
    } // setSlider()

    function ToggleColumn(type) {
        var itemTable = document.getElementById("itemTable");
        var itemForm = document.getElementById("itemForm");
        var resetBtn = document.getElementById("resetBtn");
        var saveBtn = document.getElementById("saveBtn");
        var editBtn = document.getElementById("editBtn");        

        if (type == 0) {
            itemTable.style.display = "block";
            itemForm.style.display = "none";
            editBtn.style.display = "none";
            resetBtn.style.display = "inline-block";            
        }

        else {
            itemForm.style.display = "block";
            itemTable.style.display = "none";            

            if (type == 2) {
                var x = event.target.parentElement.parentElement;

                var id = x.children[0].innerHTML;
                var name = x.children[1].innerHTML;
                var genere = x.children[5].innerHTML;
                var strength = x.children[3].innerHTML;
                var APs = x.children[4].innerHTML;

                $("#id").val(id);
                $("#name").val(name);

                switch (genere) {
                    case 'Healing':
                        document.getElementById("genere").selectedIndex = "0";
                        break;
                    case 'Mana':
                        document.getElementById("genere").selectedIndex = "1";
                        break;
                    case 'StrengthBooster':
                        document.getElementById("genere").selectedIndex = "2";
                        break;
                    case 'EnduranceBooster':
                        document.getElementById("genere").selectedIndex = "3";
                        break;
                    case 'WillpowerBooster':
                        document.getElementById("genere").selectedIndex = "4";
                        break;
                    case 'SpeedBooster':
                        document.getElementById("genere").selectedIndex = "5";
                        break;
                    case 'AgilityBooster':
                        document.getElementById("genere").selectedIndex = "6";
                        break;
                }

                $("#strength").val(strength);
                $("#APs").val(APs);

                editBtn.style.display = "inline-block"
                resetBtn.style.display = "none";
                saveBtn.style.display = "none";
            }

            else {
                form.reset();
                editBtn.style.display = "none";
                resetBtn.style.display = "inline-block";
                saveBtn.style.display = "inline-block";
            }

            resetSliders();

        }
    }  // ToggleColumn()


</script>