@page
@model LastTemple.Pages.Gameplay.BattlefieldModel
@{
}

<div>
    <div class="row">
        <div id="logDiv" style="background:#505050; border-top:20px; border-color:white; overflow: auto; height:400px;" class="col-10">
            <ul>
                <li>@Model.Hero.Name atakuje Szczur i zadaje mu 3 puntków obrażeń</li>
                <li>@Model.Hero.Name atakuje Szczur i zadaje mu 1 puntków obrażeń</li> 
                <li>@Model.Hero.Name atakuje Szczur i pudłuje</li>
                <li>Szczur atakuje @Model.Hero.Name i zadaje 3 punkty obrażeń</li>
                <li>Szczur atakuje @Model.Hero.Name i zadaje 2 punkty obrażeń</li>           
                <li>@Model.Hero.Name atakuje Szczur i zadaje mu 5 puntków obrażeń co kończy się jego śmiercią</li>

            </ul>
        </div>

        <div id="enemies" class="col-2">
            @foreach(var item in Model.Enemies)
            {
             <div class="form-group">

                 <div class="btn-group btn-group-toggle" data-toggle="buttons">
                     <label class="btn btn-outline-warning" id="btnChose-@item.Id" onclick="choseEnemy(id)">                         
                         <input type="radio" value="@item.Id" name="enemies"/> @item.Name
                     </label>
                 </div>

                 <br />
                 <span>Życie @item.HitPoints / @item.MaxHP - @item.Alive</span> <br />
                 <span>Mana @item.Mana / @item.MaxMana</span> <br />
                 <span>Punkty Akcji @item.Mana / @item.MaxMana</span>
             </div>
                
               
            }
        </div>

    </div>
    <div class="row">
        <div class="col-10 offset-1 text-center">
            <p>@Model.Hero.Name</p>
            <button class="btn btn-outline-info">xxx</button>
            <button class="btn btn-outline-info">xxxxx</button>
            <button class="btn btn-outline-info">xxxxxxxxx</button>
            <button class="btn btn-outline-info">xxxxxx</button>
            <button class="btn btn-outline-info">xxxx</button>
        </div>
    </div>
</div>

<script type="text/javascript">   
    
    function choseEnemy(id) {
        var enemies = document.getElementsByName("enemies");

        for (i = 0; i < enemies.length; i++)
        {
            if (enemies[i].parentElement.id != id) {
                if (enemies[i].parentElement.classList.contains("active"))
                {
                    enemies[i].parentElement.classList.remove("active");
                }
            }
        }        
    }

</script>