@page
@model LastTemple.Pages.Gameplay.StartModel
@{
}

<p class="text-center font-weight-bold mb-2">Wybierz walczących</p>

<div class="row">
    <div class="col-6 tableFixHead">
        
        @if (Model.Hero == null) { <p>Wybrany bohater: <b>brak</b></p> }
        else {<p>Wybrany bohater: <b>@Model.Hero.Name</b></p> }

     <table class="table text-light text-center">
         <thead>
             <tr>
                 <th>Imię</th>
                 <th>Poziom</th>                 
                 <th>PŻ</th>
                 <th>PM</th>
                 <th>PA</th>
                 <th>•</th>
             </tr>
         </thead>
         <tbody>
             @foreach (var item in Model.Heroes)
             {
                <tr>
                    <td><b>@item.Name</b></td>
                    <td>@item.Level</td>
                    <td>@item.MaxHP</td>
                    <td>@item.MaxMana</td>
                    <td>@item.ActionPoints</td>
                    <td><form method="post"><button class="btn btn-outline-info" asp-page-handler="AssignHero" asp-route-id="@item.Id">Wybierz</button></form></td>
                    
                </tr>
             }
         </tbody>
     </table>

    </div>
    <div class="col-6 tableFixHead">

        @if (Model.SelectedEnemies == null || Model.SelectedEnemies.Count() == 0)
        {
            <p>Wybrani przeciwnicy: <b>brak</b></p>
        }
        else
        {
            <p>Wybrani przeciwnicy:</p>

            <table class="table text-light text-center">
                <thead>
                    <tr>
                        <th>Imię</th>
                        <th>Poziom</th>
                        <th>PŻ</th>
                        <th>PM</th>
                        <th>PA</th>
                        <th>•</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.SelectedEnemies)
                    {
                        <tr>
                            <td><b>@item.Name</b></td>
                            <td>@item.Level</td>
                            <td>@item.MaxHP</td>
                            <td>@item.MaxMana</td>
                            <td>@item.ActionPoints</td>
                            <td><form method="post"><button type="submit" class="btn btn-outline-info" asp-page-handler="DeleteEnemy" asp-route-id="@item.Id">Usuń</button></form></td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <table class="table tableFixHead text-light text-center">
            <thead>
                <tr>
                    <th>Imię</th>
                    <th>Poziom</th>
                    <th>PŻ</th>
                    <th>PM</th>
                    <th>PA</th>
                    <th>•</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.EnemiesPool)
                {
                    <tr>
                        <td><b>@item.Name</b></td>
                        <td>@item.Level</td>
                        <td>@item.MaxHP</td>
                        <td>@item.MaxMana</td>
                        <td>@item.ActionPoints</td>
                        <td><form method="post"><button type="submit" class="btn btn-outline-info" asp-page-handler="AddEnemy" asp-route-id="@item.Id">Dodaj</button></form></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="col-12 text-center">
        <input id="battleReady" type="hidden" value="@Model.BattleReady"/>
        <form method="post"><button id="battleButton" class="btn btn-danger" asp-page-handler="StartBattle">Rozpocznij!</button></form>
    </div>
</div>

<script type="text/javascript">

    var battleReady = document.getElementById("battleReady").value;
    var battleButton = document.getElementById("battleButton");

    setButton();

    function setButton() {
        if (battleReady == "No") {
            battleButton.disabled = true;
        }
        else if (battleReady == "Yes") {
            battleButton.disabled = false;
        }
        else {
            alert(battleReady.value);
        }
    }


</script>